# Build system
.gradle/
build/
out/

# Test system
tmp/

# Generated configuration
config/application.properties

# Generated build assets
src/main/resources/public/

# IDE: IntelliJ IDEA
.idea/
*.iml

# IDE: VS Code
.classpath
.project
.settings/
.vscode/
bin/
