# Runtime settings for our Spring application (Required for runtime and development)
PORT=8000
DATABASE_URL=postgres://REPLACEUSERNAME:REPLACEPASSWORD@REPLACEHOSTNAME:5432/REPLACEDATABASE

# Build time settings for the Jooq SQL table generation + Flyway data migration (Required for development only)
JDBC_DATABASE_URL=jdbc:postgresql://REPLACEHOSTNAME:5432/REPLACEDATABASE
JDBC_DATABASE_USER=REPLACEUSERNAME
JDBC_DATABASE_PASSWORD=REPLACEPASSWORD
