external.server.port=8000

external.database.jdbc=jdbc:h2:file:./tmp/database.h2;DB_CLOSE_ON_EXIT=FALSE;AUTO_RECONNECT=TRUE
external.database.driver=org.h2.Driver

external.ssl.keystore=config/keystore.p12
external.ssl.keystore-password=123456aA
external.ssl.keystore-type=PKCS12
external.ssl.keystore-alias=keystore
